[user]
	name = Matt Hadley
	email = hello@matthadley.me
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = store
